<% if flash[:notice] %>
  <p id = "notice"><%= flash[:notice] %></p>
<% end %>
<h2>Title</h4>
<p><%= @book.title %></p>
<h2>Body</h2>
<p><%= @book.body %></p>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "back", '/books' %>